
body::before{
  content:"";
  position:absolute;
  top:0;
  left:0;
  right:0;
  height:1rem;
  background:linear-gradient(90deg,#25252800,#00a385);
}

body{
  padding: 0;
  margin: 0;
  padding-top:1rem;
  background-color:#1e1e21;

  font-family:Oswald,sans-serif;
  font-size:1rem;
  font-weight:400;

  color:white;
  text-decoration: none;
  font-size:1rem;
}

#navbar{
  width:100%;
  display: flex;

  margin:0;
  padding:0;
  box-shadow: 0 0px 22px #000000b8;
}

#navbar a{
  width:100%;
  text-align: center;
  padding:25px;
  font-size:2rem;
  font-weight: bold;
}

#navbar a:link,
#navbar a:visited{
  color:#ffffff;
}

#navbar a:link:hover,
#navbar a:visited:hover{
  border: 1.4px dashed #ffffff;
}

#navbar a i{
  font-weight:normal;
}

#reddit{
  background-color: #FF4500;
}
#discord{
  background-color: #7289DA;
}
#github{
  background-color: #000000;
}

#navbar a:hover{
  background-color:#00a385;
}

.container{
  display:flex;
  flex-wrap:wrap;
  justify-content: center;
  width:100%;


}

.media.mt-4{
}

:link,
:visited{
  text-decoration: none;
  color:#169d5b;
  transition: 0.3s all;
  border: 1.4px dashed #ffffff00;
}

:link:hover,
:visited:hover{
  color:#00a385;
  border-bottom: 1.4px dashed #ffffff;
}

.title{
  text-align: center;
  font-size:3.4rem;
  padding:40px;
  text-shadow: 0 3px 8px #00000065;
}

.mt-0{
  font-size:1.8rem;
  margin-bottom:10px;
  word-wrap:break-word;
  padding:0px;
}

.media{
  padding:30px;
}

.media-body{
  width:340px;
  background-color: #252528;
  padding:30px;
  padding-top:1px;
  height:200px;
  box-shadow: 0px 4px 10px #0000006f;
}

.media::before{
  content:"";
  position:absolute;
  height:0.3rem;
  width:400px;
  background:linear-gradient(90deg,#25252800,#00a385);
}

@media(max-width:640px){
  #navbar a{
    padding:10px;
    font-size:1rem;
  }

  .title{
    font-size:2rem;
    padding:10px;
  }

  .media{
    padding:10px;
  }

  .media-body{
    width:220px;

    height:200px;
  }

  .media::before{
    width:280px;
  }
}
