// Bootstrap overrides
$primary: #169D5B;

// Nav link padding
$nav-padding: 1em;

// Size of animated bar
$top-bar-size: 0.5rem;

// Size of logo
$logo-size: 8rem;

// Speed of overview animtion
$overview-animation-speed: 0.4s;

// Topic highlight border color
$topic-highlight: white;

// Topic highlight size
$topic-highlight-size: 2px;

// Topic colors
$topics: (
    example: #453349,
    library: #394a4e,
    game: #434c3a,
    extension: #4c2f2f
);
