// Bootstrap overrides
$primary: #169D5B;

// Imports
@import url('https://fonts.googleapis.com/css?family=Oswald:200,400,700');
@import "node_modules/bootstrap/scss/bootstrap";

// Nav link padding
$nav-padding: 1em;

// Size of animated bar
$top-bar-size: 0.5rem;

// Size of logo
$logo-size: 8rem;

// Speed of overview animtion
$overview-animation-speed: 0.4s;

html {
  font-size: 1.25rem;
  overflow-x: hidden;
}

body {
  background: #212121;
  margin-bottom: 5rem;
  color: white;
  font-family: 'Oswald', sans-serif;
  padding-top: $top-bar-size;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: -200%;
    height: $top-bar-size;
    width: 300%;
    background: linear-gradient(to right, #181818, #00A385, #181818, #00A385);
    animation: header-slide linear 10s infinite;
  }
}

// Bar animation
@keyframes header-slide {
  0% {
    left: -200%;
  }
  100% {
    left: 0;
  }
}

pre {
  color: #5a7590;
}

nav {
  background: #282828;
  box-shadow: 0 4px 6px rgba(0,0,0,0.2);
  user-select: none;

  a {
    padding: $nav-padding 0;
    flex: 1;

    &:hover {
      color: $primary;
      text-decoration: none;
      background: rgba(0,0,0,0.2);
    }
  }
}

.logo {
  width: $logo-size;
  height: $logo-size;
  border-radius: 50%;
  transition: box-shadow 2s;

  &:hover {
    box-shadow: 0 0 1rem $primary;
  }
}

.card-gms2 {
  cursor: pointer;
  border: 1px solid #3E3E3E;
  display: inline-block;
  width: 18rem;
  height: 10rem;
  background: #181818;
  user-select: none;
  margin: 0.75rem;

  .card-body {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
  }

  .card-text {
    font-weight: lighter;
  }

  .card-header {
    background: linear-gradient(to right, #181818, #4E453F);
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
  }

  &:hover {
    border: 1px solid $primary;

    .card-header {
      background: linear-gradient(to right, #181818, #00A385);
    }
  }
}

.card-container {
  flex-wrap: wrap;
}

.overview-cover {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  background: black;
  opacity: 0;
  transition: opacity $overview-animation-speed;
}

.overview {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: 75%;
  max-width: 1920px;

  padding: 1em;

  background: #111;
  z-index: 2;

  border-left: 1px solid $primary;
  transform: translateX(100%);

  transition: transform $overview-animation-speed;

  overflow-y: scroll;

  img {
    max-width: 100%;
  }
}

@media(max-width: 1024px) {
  html {
    font-size: 0.95rem;
  }

  .overview {
    width: 100%;
  }
}
